spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/onerecord
    username: onerecord
    password: onerecord
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
